extends layout

block content
	div.container
		h3 File list
		ul
			each file in Contents
				li
					a(href="/file?name=" + file.Key)= file.Key 
					li
						a(href="http://acovar.email.upload.s3.amazonaws.com/" + file.Key)= "Share File Download " + file.Key
